/* General */
*{
    margin: 0px;
    padding: 0px;
    scroll-behavior:smooth;
}
body {
    background-color: #2a2b30;
    color: #d0d0d0;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

/*header*/
header {
    text-align: center;
}
hr{
    width: 15px;    
}
.logo {
    width:60px;
    height:60px;  
    margin-top: 30px;
    border:1px solid #e9a64f;
    border-radius: .5em;    
}
nav {
    margin-top: 25px;
}
nav a {
    color:#888888;
    text-decoration: none;
    text-transform: uppercase;
    font-size: medium;    
    padding:15px;    
}
nav a:hover {
    color:#d0d0d0;    
}

/* sections */
.headertxt{
    color:#d0d0d0;
    padding-left:320px;       
}
.maintext {
    color:#888888;
    font-size: 16px;
    float: right;
    width:70%;
    line-height: 1.5em;
}
.highlight {
    color:#e9a64f;
}
.highlightsmall {
    color:#e9a64f;
    font-size: 14px;
}
.highlightsmallbold {
    color:#e9a64f !important;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
}
.contentbox{
    width:70%;
    margin: 3% 15% 2% 15%;  
    float: left;
}

/* About*/
#about img {
    width:150px;
    height:150px; 
    border-radius: 50%;   
    margin-left: 150px;    
}

/*skills*/
#skills {
    margin-top: 20px;
}
#progressbar {
    float: left;
    padding-left:180px;
    margin-top: 20px;
    color:#888888;
    font-size: 14px;    
}
#progressbar td{
    padding:5px;
}
.pbartxt {
    color:#d0d0d0;
    font-weight: bold; 
    width: 120px;        
}
progress::-webkit-progress-value {
    background:#e9a64f;
}
progress {
    text-align: right;
    width:400px;
    height:20px;
    background-color: #e9a64f;
}

/* Experience */
#experience li {
    margin-left: 20px;
    color:#888888;
}

.dvexp {
    padding-left: 180px;
    padding-top: 20px;
}

/*Education*/
.dvedu {
    padding-left: 180px;
    padding-right: 30px;
    padding-top: 20px;
    width:419px;
    border-right: 2px solid #e9a64f;    
}
.dveduright {    
    padding-left: 30px;
    padding-bottom: 20px;
    width:402px;
    float: right;
    border-left: 2px solid #e9a64f;
}
#education p{
    color:#888888;
}

/* Contact*/
#frmcontact {
    margin-left: 180px;
    padding: 20px;
    height: 27em;
    width: 80%;
    border: 1px solid black;  
    /*box-shadow: 3px 3px 5px 5px #000000;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=text], [type=tel], [type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #2a2b30;
    color:#d0d0d0;
}
  
input[type=submit] {
    width: 20%;
    background: #2a2b30;
    border: 2px solid #e9a64f;
    border-radius: 0.2em;
    color: #e9a64f;
    padding: 5px;  
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    font-size: 16px;    
}
  
input[type=submit]:hover {
    background-color: #e9a64f;
    color:#2a2b30;
}

/* social media*/
.fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    background-color:#2a2b30;
    color:#888888;
}
  
.fa:hover {
    color:#d0d0d0;
}

#socialmedia{
    width:100%;
    float: left; 
    text-align: center; 
}
 
/*footer*/
footer{
    width:100%;
    text-align: center; 
    color:#888888;
}

footer p {
    padding-bottom: 20px;
}

/*goto top*/
#gotopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #e9a64f;
    color:#2a2b30;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #gotopBtn:hover {
    background-color: #555;
  }